{
  "env": {
    "development": {
      "presets": ["next/babel"],
      "plugins": ["inline-dotenv", ["styled-components", { "ssr": true }]]
    },
    "production": {
      "presets": ["next/babel"],
      "plugins": ["transform-inline-environment-variables", ["styled-components", { "ssr": true }]]
    },
    "test": {
      "presets": [
        "@babel/preset-env",
        "@babel/preset-react"
      ],
      "plugins": [
        "@babel/plugin-proposal-class-properties",
        ["@babel/plugin-transform-runtime", { "regenerator": true }]
      ]
    }
  }
}
